*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(cyberpunk_city_by_nitramx_dg5x3cd-fullview.jpg);
    background-size: cover
}
.container-topo{
display: flex;
background-color: #00000027;
color: #fff;
justify-content: center;
}

.nav-bar{
    display: flex;
    align-items: center;
    list-style: none;
  
    color: #fff;
    
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
}

.nav-bar li{
    padding: 60px 4%;
}

.container-head{
    display: flex;
    align-items: center;
    
}
.logo h1{
    color: #fff;
    font-size: 50px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
  font-style: normal;

}