*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(cyberpunk_city_by_nitramx_dg5x3cd-fullview.jpg);
    background-size: cover
}
.cabecalho{
display: flex;
background-color: #00000027;
color: #fff;

}

.nav-bar{
    display: flex;
    align-items: center;
    list-style: none;
   justify-content: flex-end;
    color: #fff;
    
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
}

.nav-bar li{
    padding: 40px 4%;
}

.container-head{
    display: flex;
    align-items: center;
    
}